app/views_c/

app/config/Local.php

app/libs/smarty/
app/libs/smartybu/
app/libs/adodb5/
app/libs/dompdf/

assets/libs/fontawesome-markers/

assets/css/custom.css.map
assets/css/custom.min.css
assets/css/custom.min.css.map
assets/css/custom.scss
assets/css/old.css

### Composer ###
composer.phar
vendor/

node_modules/

request.http

data/

upload/

.vscode/
.prettierrc

graph

tree-data

*.sql
*.rar
*.zip
*.bu
